<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>e-Parki | Mapa</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="assets/img/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>

  <!--// App header start -->
  <section class="c-app-header">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between u-width-100">
          <a class="navbar-brand" href="#">
            <img src="assets/img/logo_eparki.svg" alt="logo" style="height: 36px;" />
          </a>

          <div>
            <ul class="navbar-nav mr-auto1">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="nav-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#616161" width="24px"
                      height="24px">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
                    </svg>
                  </i>
                  <span class="nav-link__caption">Regulamin</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="nav-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="#616161">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.94-.49-7-3.85-7-7.93s3.05-7.44 7-7.93v15.86zm2-15.86c1.03.13 2 .45 2.87.93H13v-.93zM13 7h5.24c.25.31.48.65.68 1H13V7zm0 3h6.74c.08.33.15.66.19 1H13v-1zm0 9.93V19h2.87c-.87.48-1.84.8-2.87.93zM18.24 17H13v-1h5.92c-.2.35-.43.69-.68 1zm1.5-3H13v-1h6.93c-.04.34-.11.67-.19 1z" />
                    </svg>
                  </i>
                  <span class="nav-link__caption">Wersja kontrastowa</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="nav-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="#616161">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z" />
                    </svg>
                  </i>
                  <span class="nav-link__caption">Wybierz język</span>
                </a>
              </li>
              <li class="nav-item border-left">
                <a class="nav-link" href="#" tabindex="-1">
                  <i class="nav-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="#616161">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" />
                    </svg>
                  </i>
                  <span class="nav-link__caption">Profil</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </section>
  <!--// App header end -->

  <!--// Park filters -->
  <div class="c-top-actions">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6 mb-4 d-flex justify-content-xl-start justify-content-around">
          <a href="" class="c-menu-button mr-xl-4">
            <i class="c-menu-button__icon">
              <img src="assets/img/icons/near_me-24px.svg" alt="rejon Polski">
            </i>
            Rejon Polski (NW)
          </a>
          <a href="" class="c-menu-button">
            <i class="c-menu-button__icon">
              <img src="assets/img/icons/follow_the_signs-24px.svg" alt="atrakcje parku">
            </i>
            Atrakcje parku (8)
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 mb-4 d-flex justify-content-xl-end justify-content-center">
          <a href="mapa.html" type="button" class="btn btn-outline-secondary u-active col-sm-6 col-xl-3">
            <i class="c-button__icon mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z" />
              </svg>
            </i>
            Mapa
          </a>
          <a href="lista.html" type="button" class="btn btn-outline-secondary ml-2 col-sm-6 col-xl-3">
            <i class="c-button__icon mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z" />
              </svg>
            </i>
            Lista
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--// Park filters end -->

  <!--// Park map -->
  <div class="container">
    <div class="row">
      <div class="c-map">
        <img src="assets/img/map.png" width="100%" alt="">

        <div class="c-park-pin" style="top: 94px; left: 167px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_wolinski.png" alt="Woliński Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 2px; left: 391px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_slowinski.png" alt="Słowiński Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 66px; left: 844px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_wigierski.png" alt="Wigierski Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 116px; left: 814px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_biebrzanski.png"
              alt="Biebrzański Park Narodowy"></div>
        </div>

        <div class="c-park-pin" style="top: 150px; left: 250px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_drawienski.png" alt="Drawieński Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 174px; left: 838px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_narwianski.png" alt="Narwiański Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 261px; left: 351px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_wielkopolski.png"
              alt="Wielkopolski Park Narodowy"></div>
        </div>

        <div class="c-park-pin" style="top: 489px; left: 251px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_karkonoski.png" alt="Karkonoski Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 562px; left: 342px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_gorystolowe.png"
              alt="Park Narodowy Gór Stołowych"></div>
        </div>

        <div class="c-park-pin" style="top: 455px; left: 861px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_poleski.png" alt="Poleski Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 550px; left: 861px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_roztoczanski.png"
              alt="Roztoczański Park Narodowy"></div>
        </div>

        <div class="c-park-pin" style="top: 647px; left: 575px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_babiogorski.png"
              alt="Babiogórski Park Narodowy"></div>
        </div>

        <div class="c-park-pin" style="top: 684px; left: 619px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_gorczanski.png" alt="Gorczański Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 650px; left: 750px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_magurski.png" alt="Magurski Park Narodowy">
          </div>
        </div>

        <div class="c-park-pin" style="top: 715px; left: 861px;">
          <div class="c-park-pin__image"><img src="assets/img/logo/logo_bieszczadzki.png"
              alt="Bieszczadzki Park Narodowy"></div>
        </div>
      </div>

    </div>
  </div>
  <!--// Park map end -->

</body>

</html>